# Core ML / DL
--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
timm==1.0.9
einops==0.8.1
focal-loss-torch==0.1.2

# Medical imaging
# monai
# nibabel==5.3.2
torchio==0.21.0
PyWavelets==1.8.0

# Scientific stack
numpy
scipy
scikit-learn
pandas

# Visualization
matplotlib
seaborn
opencv-python
pillow

# HuggingFace / utilities
huggingface_hub
tqdm
gdown
requests

# Jupyter / experimentation
ipykernel

# System / monitoring
nvitop